* { 
    margin: 0;
    border: 1px solid red;
}

/* Body */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header */
.header-container {
    background-color: azure;
    text-align: center;
    padding: 10px;
}

.header-container h1 {
    margin: 0;
}

/* Main Container */
.main-container {
    display: flex;
    height: 100%;
}

/* Sidebar */
.sidebar {
    flex: 1;
    /* display: flex;
    flex-direction: column; */
    background-color: lightseagreen;
}

.project, .add-project-button-div {
    background-color: red;
    margin: 20px;
    padding: 5px;
}

.project:hover, .add-project-button-div:hover {
    background-color: darkred;
}

.add-project-button {
    padding: 0px;
}

/* Main Body */
.project-body {
    flex: 5;
    background-color: lightskyblue;
    padding: 10px;
    padding-top: 5px;
}

.project-body div {
    margin: 10px;
}

.project-body p {
    margin: 10px;
}

/* Footer */